---
import {getCollection} from 'astro:content';
import ShareButton from "../../components/shareButton.vue"
import MainLayout from "../../layouts/MainLayout.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getCollection('posts');
    return blogEntries.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}
// 2. For your template, you can get the entry directly from the prop
const {entry} = Astro.props;
const {Content, remarkPluginFrontmatter} = await entry.render();
const pubDate = entry.data.pubDate.toLocaleDateString('de-DE', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});
const minutesRead = remarkPluginFrontmatter.minutesRead
    .toString()
    .replaceAll(" read", "")
    .replaceAll("min", "Minuten");
---

<MainLayout>
    <h1>{entry.data.title}</h1>
    <h3>Erstellt am {pubDate}. Lesezeit: {minutesRead}</h3>
    <h2 class="text-primary">{entry.data.subtitle}</h2>
    {entry.data.image && (
            <img src={entry.data.image} alt={entry.data.title} class="w-full"/>
    )}
    <Content/>

    <ShareButton client:only="vue" url={Astro.url} title={entry.data.title}/>

</MainLayout>
<style is:global lang="scss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  img {
    display: block;
    max-height: 50rem;
    margin: 2rem auto;

  }

  .astro-code {
    margin: 0.5rem;
    padding: 0.5rem 0.2rem;
  }

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5rem;
  }

  table {
    margin: 0.5rem 0;
  }

  th {
    @apply text-secondary;
  }

  p code {
    @apply bg-neutral;
  }

</style>