---
import MainLayout from './Layout.astro'
import Heading from "../components/Heading.astro";
import Footer from "../components/Footer.astro";
const {frontmatter} = Astro.props
---

<MainLayout>
    <div id="contents">
        <main class="container">
            <div class="mb-16">
                <Heading/>
                <h1>{frontmatter.title}</h1>
                <h2>
                    <div id="date">Geändert am {frontmatter.lastEdited}</div>
                    {frontmatter.subtitle}</h2>
                {frontmatter.image && (
                        <img src={frontmatter.image} alt={frontmatter.title} class="w-full"/>
                )}
                <slot/>
            </div>
            <Footer/>
        </main>
    </div>
</MainLayout>
<style>
    h1 {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #date {
        font-size: 1rem;
        color: #666;
    }
</style>
